h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-align: center;
font-size: 56px;
color: white;

}
p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 28px;
    color: white;

}
body{
    background: rgb(53,94,59);
    background: linear-gradient(90deg, rgba(53,94,59,0.6442226548822654) 46%, rgba(188,184,138,1) 100%);
}
cityA{
    margin-left: 0px;
}