*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}

h1{
    color: #bcb88a;
}

.cityinput{
    width: 300px;
    height: 25px;
    border-radius: 15px;
    box-shadow: none;
    border: solid 1px grey;
    margin: 10px;
    color:black;
}

body{
    background: rgb(53,94,59);
background: linear-gradient(90deg, rgba(53,94,59,0.6442226548822654) 46%, rgba(188,184,138,1) 100%);
background-image: url("lukasz-szmigiel-jFCViYFYcus-unsplash.jpg");
background-repeat: no-repeat;
background-size: 100% 100%;
min-height: 100vh;
background-attachment: fixed;
}

#compare{
    border:none;
    height: 30px;
    width:80px;
    border-radius: 15px;
    background-color:white;
    font-weight: bold;
    color:#013220;
}

#main{
    position: fixed;
    top: 10%;
    right:30%;
    background-color:rgb(0 0 0/70%);
    padding:40px;
    border-radius: 20px;

}